.explore-nav {
  padding-top: 30px;
}

.item {
  margin-bottom: 15px;
}
.explore-nav-link {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #3e3e3e;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px 10px;
}
.explore-nav-link:hover {
  color: #f7931e !important;
  text-decoration: none;
}
.explore-nav-link:focus {
  color: #f7931e;
}

.explore-user-detail {
  padding-top: 20px;
  /* background: red; */
  text-align: center;
}
.explore-user-detail img {
  height: 30px;
  width: 30px;
}
.explore-username {
  padding-left: 15px;
  padding-right: 30px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.follow {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background: none;
  outline: none;
  border: none;
}
.explore-body .card-body:hover {
  /* color: #30adb4; */
  background: "#32c709";
}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}

.user-reaction div {
  padding-right: 20px;
}
/*@media screen and (max-width: 800px) {
    .explore-images-body {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .explore-images-body {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }*/
.explore-card-columns .card {
  margin-bottom: 0.79rem;
}
@media screen and (min-width: 992px) {
  .explore-card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .explore-card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .explore-card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (max-width: 600px) {
  .explore-card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.explore-content:hover {
  color: white;
}
.follow:hover {
  color: white;
}
.pink {
  border: 1px solid #bc0272;
  width: 100%;
}
.pink:hover {
  background: #bc0272;
}
.dark-blue {
  border: 1px solid #000000;
}
.dark-blue:hover {
  background: #2e384d;
  color: white;
}
.light-danger {
  border: 1px solid #ff0404;
}
.light-danger:hover {
  background: #ff0404;
  color: white;
}
.green {
  border: 1px solid #4bc999;
}
.green:hover {
  background: #4bc999;
  color: white;
}
.blue {
  border: 1px solid #34abe0;
}
.blue:hover {
  background: #34abe0;
}
.orange {
  border: 1px solid #ff8a00;
}
.orange:hover {
  background: #ff8a00;
}
.black {
  border: 1px solid #3e2a2a;
}
.black:hover {
  background: #3e2a2a;
}
.dark-orange {
  border: 1px solid #b58657;
}
.dark-orange:hover {
  background: #b58657;
}

.follow {
  max-width: 100px;
}

@media screen and (max-width: 768px) {
  .follow {
    display: none;
  }
}

@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 250px;
  padding: 25px;
  border-radius: 15px;

  color: white;

  background-image: linear-gradient(25deg, #0f509e, #1399cd);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.credit-card__number {
  display: flex;
  justify-content: center;

  font-family: "Fjalla One", sans-serif;
  font-size: 45px;
}

.credit-card__info {
  display: flex;
  /* justify-content: space-between; */

  font-family: "Fjalla One", sans-serif;
  font-size: 25px;
}

.credit-card__info_label {
  font-size: 14px;
}

.credit-card__info_expiry {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 0px solid none;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 4px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #29bd0061;
  border-color: none;
  border-bottom: #000000;
  border-width: 1px;
  color: black;
  border-radius: 6px 6px 6px 6px;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
input[type="date"]:not(:valid):before {
  content: attr(placeholder);
}

/* small screen modal begins here */

.Button {
  cursor: pointer;
  margin: 0 0 12px;
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.CenterAlign {
  transform: translate(-50%, -25%);
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

.Overlay.Show {
  display: block;
}

.Modal {
  position: fixed;
  bottom: -150vh;
  background-color: #fff;
  width: 100%;
  height: 52%;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
  left: 0;
  padding: 0 12px 12px;
  transition: all 0.3s ease-out;
  z-index: 10;
}

.Modal.Show {
  bottom: 0;
  border-radius: 20px;
}

.Close {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 10px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: #000000;
  font-weight: bolder;
}

.Alert {
  position: fixed;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  top: 0;
  left: 0;
  color: #fff;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.Alert:empty {
  padding: 0;
}
.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 20px !important;
}
#inputID::placeholder {
  color: #29bd00;
  opacity: 1;
  font-size: 14px;
}
