.explore-nav {
  padding-top: 30px;
}

.item {
  margin-bottom: 15px;
}

.image-item:hover {
  opacity: 0.5;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  /* opacity: 1; */
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 52px;
  cursor: pointer;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* .container:hover .image {
  opacity: 0.3;
} */

/* .container:hover .middle {
  opacity: 1;
} */

.text {
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none !important;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.filterbutton {
  height: 40px;
  margin-right: 9px;
  background: red;
  border: red 1px solid;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
}

.figure {
  width: 200px;
  height: 150px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

/* Zoom In #1 */
.hover01 figure img {
  -webkit-transform: scale(0.9);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1.04);
}

.explore-body .card-body:hover {
  /* color: #30adb4; */
  background: "#32c709";
}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}

.user-reaction div {
  padding-right: 20px;
}

.explore-card-columns .card {
  margin-bottom: 0.79rem;
}
@media screen and (min-width: 992px) {
  .explore-card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .explore-card-columns .card {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .explore-card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (max-width: 600px) {
  .explore-card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
